body
{
	background-color: #143d59;
}

.foto-profile
{
	display: block;
	width: 100%;
	height: 400px;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;	
}
.foto-profile h1
{
	font-size: 35px;
	font-family: 'Anton', sans-serif;
	color: #f4b41a;
}
.foto-profile img
{
	border-radius: 50%;
	margin: 5px auto;
	border: 5px solid #f4b41a;
}

.isi
{
	max-width: 800px;
	margin: 10px auto;
}
.biodata td
{
	color: #f4b41a
}
.biodata
{
	margin-bottom: 20px;
}

.main
{
	max-width: 800px;
	margin: 350px auto;
}

.main .header h3
{
	margin-top: 100px;
	text-align: center;
	background-color: #f4b41a;
	height: 25px;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Anton', sans-serif;
	color: #143d59;
}
.main .about p
{
	margin-top: 10px;
	color: #f4b41a;
}

.education td
{
	color: #f4b41a;
}
.education table
{
	width: 100%;
}

.skill img
{
	width: 100%;
}

@media(min-width: 600px)
{
	.isi
	{
		display: flex;	
		justify-content: space-between;
	}
	.main
	{
		margin: 50px auto;
	}
}